

<h1><%= note.title %></h1>
<p><%= note.description %></p>
<small>Created at: <%= note.createdAt.toDateString() %></small>
<br />
<a href="/notes" class="btn btn-outline-secondary mt-2">Back to All Notes</a>
